@import '../../scss/_variables';

.canvas__container {
  position: relative;
  .turn-indicator {
    position: absolute;
    right: 0;
    top: 0;
  }
  .canvas__actions {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 4px;
    * + * {
      margin-left: 0.5em;
    }
  }
  .canvas__message {
    text-align: center;
    padding: 0.5em;
    font-size: 20px;
    border-radius: 4px;
    position: absolute;
    background: $brand-color;
    color: #fff;
    width: 20em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
