@import '../../scss/_variables';

.canvas__container {
  min-width: 20em;
  width: 100%;
  height: 100%;
}

.canvas {
  border: 2px $brand-color solid;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.drawable {
  cursor: crosshair;
}

.canvas__controls {
  border: 2px purple solid;
}
