{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "destructuring": true,
    "spread": true,
    "restParams": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": "airbnb",
  "rules": {
    "react/jsx-wrap-multilines": 0,
    "react/jsx-filename-extension": 0,
    "no-underscore-dangle": 0,
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
    }],
    "react/prop-types": 0,
    "react/prefer-stateless-function": 1,
    "no-shadow": 0
  }
}
