@font-face {
  font-family: 'Gloria Hallelujah';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Gloria-Hallelujah-regular/Gloria-Hallelujah-regular.eot');
  src: url('/fonts/Gloria-Hallelujah-regular/Gloria-Hallelujah-regular.eot?#iefix') format('embedded-opentype'),
       local('Gloria Hallelujah'),
       local('Gloria-Hallelujah-regular'),
       url('/fonts/Gloria-Hallelujah-regular/Gloria-Hallelujah-regular.woff2') format('woff2'),
       url('/fonts/Gloria-Hallelujah-regular/Gloria-Hallelujah-regular.woff') format('woff'),
       url('/fonts/Gloria-Hallelujah-regular/Gloria-Hallelujah-regular.ttf') format('truetype'),
       url('/fonts/Gloria-Hallelujah-regular/Gloria-Hallelujah-regular.svg#GloriaHallelujah') format('svg');
}
