.room__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 1em;
}

.grommetux-notification {
  margin: 1em 0;
}

@media screen and (min-width: 80em) {
  .room__container {
    flex-direction: row;
  }
}
