.room__container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  &.row {
    align-items: unset;
  }
}

.chat__container {
  height: 30em;
}

.row {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--extra-margin {
    margin-top: 2em;
  }
}

.player__badges {
  display: flex;
  flex-flow: row wrap;
}

.actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  * + * {
    margin-left: 0.5em;
  }
}

.player__badge__container + .player__badge__container {
  margin-left: 1em;
}

@media screen and (min-width: 80em) {
  .room__container {
    flex-direction: row;
  }
  .chat__container {
    height: 40em;
  }
}
