@import "scss/_fonts";
@import "scss/_variables";
@import "~grommet/scss/grommet-core/index";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.app-wrapper {
  min-width: 20em;
  width: 100vw;
  height: 100vh;
  padding: 1em;
  background-color: $accent-color;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: $special-font-family;
}


.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  * {
    flex: auto;
  }

  .form__state {
    position: absolute;
    transform: translate(0, 4px);
  }

  .form__button {
    margin-top: 0.5em;
  }
}

.grommetux-toast__container {
  z-index: 5000;
  opacity: 1;
}

@media screen and (min-width: 26em) {
  .main-content {
    .form {
      .form__button {
        margin-left: 0.5em;
        margin-top: 0;
      }
    }
  }
}
