@import "scss/_fonts";
@import "scss/_variables";
@import "~grommet/scss/grommet-core/index";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.app-wrapper {
  min-width: 20em;
  width: 100vw;
  height: 100vh;
  padding: 1em;
  background-color: $accent-color;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: $special-font-family;
}
